html {
    position:relative;
    background-image: url(./Imgs/Techbackground.jpg);
    background-size: cover;
}

.maintxt {
    position: absolute;
    color: rgb(245, 245, 245);
}

.img-thumbnail{
    height: 100px;
    width: 100px;
}

.deleteBtn {
    background-color: #e0081e !important;
}

.updateBtn {
    background-color:  #0468fd !important;
}
.col{
    font-family: 'Times New Roman', Times, serif;
}

#gearRows{
    background-color: #9d9dc2;
}



